@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --color-black: #1d1d1b;
    --color-gray: #b4b4b4;
    --color-orange: #ff5f33;
    --color-light-orange: #ff8133;
    --color-transparent-light-orange: #ff81339a;

    --border-radius: 30px;
    --border-radius-medium: 12px;
    --border-radius-small: 2px;
    --border: 1px solid #b4b4b4;
    --orange-border: 1px solid var(--color-light-orange);
    --button-padding: 0.61em 1.6em 0.6em 1.6em;

    --font-family-base:'Montserrat', sans-serif;

    --input-height: 54px;

    --border-radius: 16px;

    --container-width: 1500px;
    --container-padding-x: 4%;

    --transition-duration: 0.3s;

    --font-title-medium: clamp(20px, 1.1vw, 24px);
    --font-title-big: clamp(40px, 3.12vw, 60px);
    --font-title-medium-plus: clamp(22px, 1.8vw, 36px);
}

.title-medium {
    font-size: var(--font-title-medium);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    flex-wrap: nowrap;
}

.title-big {
    font-size: var(--font-title-big);
    color: var(--color-orange);
    text-transform: uppercase;
    font-weight: 900;
}

.title-medium-plus {
    font-size: var(--font-title-medium-plus);
    color: var(--color-orange);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    flex-wrap: nowrap;
}

p {
    font-size: clamp(16px, 1.2vw, 20px);
    margin-block: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: clamp(16px, 1.2vw, 20px);
}

/* header */
.header.out {
    transform: translateY(-100%);
}

.container {
    margin: 0px auto;
    padding: 0;
    max-width: 1920px;
}

header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 50000;
    transition: all .3s ease;
    background-color: white;
    font-family: var(--font-family-base);
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.header__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 1.6% 2%;
}


.header__menu {
    background-color: white;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2000;
    padding-left: 0 !important;
    font-size: clamp(18px, 1vw, 1.5rem);
    letter-spacing: 1px;
    gap: 3vw;
    margin: 0 !important;
    text-align: center;
    font-weight: 700;
}


.header__list-item {
    list-style: none;
    position: relative;
}

.header__list-item a {
    color: var(--color-black);
    text-decoration: none;
}

.header__list-item a:hover {
    color: var(--color-orange);
    transition: var(--transition-duration);
}

.header__list-item:last-child {
    padding: var(--button-padding);
    background-color: var(--color-black);
    aspect-ratio: 1 / 0.3;
    border-radius: var(--border-radius);
    align-content: center;
}

.header__list-item:last-child a {
    color: var(--color-light-orange);
}

.header__list-item:last-child:hover {
    background-color: var(--color-orange);
    transition: var(--transition-duration);
}

.header__list-item:last-child:hover a {
    color: white;
    transition: var(--transition-duration);

}

.header__logo {
    width: 10vw;
    max-width: 300px;
    min-width: 150px;
    flex-shrink: 0;
    position: relative;
    z-index: 3000;
    padding-left: 2%;
}

/* media only for header  */
@media (max-width: 960px) {

    body.lock {
        overflow: hidden;
    }

    .header__body {
        justify-content: space-between;
        height: 20vw;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .header__lis {
        display: none;
    }

    .header__burger span {
        position: absolute;
        background-color: var(--color-orange);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
        border-radius: 1px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: var(--color-orange);
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0;
        transition: all 0.5s ease 0s;
        z-index: 2000;
    }

    .header__menu.active {
        right: 0;
    }

    .header__list {
        display: block;
        text-align: center;
        font-size: 25px;
        margin-top: 120px !important;
        padding: 0 !important;
    }

    .header__list-item {
        margin: 0px 0px 40px 0px;
        width: unset;
    }

    .header__list-item:last-child {
        width: fit-content;
        margin: 0 auto;
    }

    .header__burger {
        display: block;
        position: absolute;
        top: 41%;
        right: 20px;
        width: 40px;
        height: 20px;
        z-index: 3000;

    }

    .header__logo {
        display: block;
        position: absolute;
        text-align: center;
        z-index: 3000;
        top: 51%;
        left: 26%;
        transform: translate(-50%, -50%);
        width: 45vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
    background-color: white;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.home-banner video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.content-width {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.section-paddings {
    padding: min(4%, 3rem) min(4%, 4rem);
}

.section-paddings-small {
    padding: min(2%, 2rem) min(4%, 4rem);
}

.features h3 {
    padding-bottom: 20px;
}

.features__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.features__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 30%;
    padding: 100px 40px;
    border-radius: var(--border-radius-medium);
    box-shadow: 2px 0px 10px var(--color-gray);
    position: relative;
}

.features__card img {
    height: 2.5rem;
    margin-bottom: 10px;
}

.two-parts-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.two-parts-section video,
.two-parts-section img {
    width: 55%;
    border-radius: var(--border-radius-small);
    height: fit-content;
}

.mission {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mission-video__wrapper {
    display: flex;
    gap: 40px;
}

.mission__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.mission__wrapper p {
    padding-bottom: 0.5rem;
}

.mission__wrapper a {
    margin-top: 10px;
}

.button {
    padding: var(--button-padding);
    width: fit-content;
    color: var(--color-light-orange);
    border: var(--orange-border);
    border-radius: var(--border-radius-medium);
    align-content: center;
    text-decoration: none;
    font-weight: 700;
}

.button:hover {
    box-shadow: 1px 0px 25px var(--color-transparent-light-orange);
    transition: var(--transition-duration);
}

.get-involved h3,
.get-involved p,
.get-involved a {
    text-align: center;
    max-width: 700px;
}

.get-involved h3,
.get-involved p {
    margin: 0 auto;
}

.get-involved h3 {
    line-height: 1;
}

.get-involved__mail {
    color: var(--color-black);
    margin: 0 auto;
}

.get-involved__links {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.get-involved {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.get-involved__links a {
    width: 32%;
    max-width: 460px;
    text-align: center;
}

.overview__wrapper h3 {
    line-height: 1.2;
}

.overview__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.overview {
    padding-top: 0;
    padding-bottom: 0;
}

.overview-features__wrapper div {
    padding: 40px 40px 40px 40px;
}

.features__card__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.features__card__list__item {
    color: #000;
    letter-spacing: .05em;
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 0) 100%);
    border-radius: 3px;
    padding: 8px;
    line-height: 140%;
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6% 0 3% 0;
    align-items: center;
    margin-top: 2%;
    gap: 10px;
    position: relative;
}

footer::after {
    content: " ";
    background: var(--color-light-orange);
    width: 92%;
    height: 0.5px;
    top: 15px;
    position: absolute;
    box-shadow: 0px 2px 15px var(--color-gray);
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-top: 15px;
}

.footer__socials a {
    width: 4%;
    height: fit-content;
}

.footer__socials a img {
    width: 100%;
}

.footer__logo {
    display: flex;
    width: 20vw;
    max-width: 350px;
    min-width: 150px;
    flex-shrink: 0;
    padding-bottom: 10px;
}

.footer__logo__wrapper p {
    text-align: center;
}

.footer__mail {
    color: var(--color-black);
}

table {
    margin: 0 auto;
    width: 94.5%;
    padding: 0 4% 0 4%;
    border-collapse: collapse;
}

tr {
    border-radius: var(--border-radius);
}

th,
td {
    padding: 30px;
    text-align: left;
    font-size: clamp(16px, 1.2vw, 20px);
    font-weight: 400;
}

th {
    background-color: var(--color-light-orange);
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: var(--font-title-medium);
}

thead th {
    min-width: 220px;
}

thead th img {
    width: 25%;
    margin: 0 auto;
}

thead tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius-medium);
    min-width: 150px;
}

thead tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius-medium);
}

thead tr:first-child th:first-child {
    border-bottom-left-radius: var(--border-radius-medium);
}

thead tr:first-child th:last-child {
    border-bottom-right-radius: var(--border-radius-medium);
}

td:first-child {
    border-top-left-radius: var(--border-radius-medium);
}

td:last-child {
    border-top-right-radius: var(--border-radius-medium);
}

td:first-child {
    border-bottom-left-radius: var(--border-radius-medium);
}

td:last-child {
    border-bottom-right-radius: var(--border-radius-medium);
}

.table__wrapper {
    overflow-x: auto;
    max-width: 100%;
}

tbody td:first-child {
    font-weight: 600;
    text-align: center;
}

td {
    border-bottom: 0.5px solid var(--color-light-orange);
}

th:first-child, td:first-child {
    border-left: none; 
}

th:last-child, td:last-child {
    border-right: none; 
}

.get-involved__socials {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 15px;
    padding-right: 2%;
}

.get-involved__socials a {
    width: 4%;
    height: fit-content;
}

.donate__qr__wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.donate__qr {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15rem;
    gap: 10px;
}

.donate__qr a {
    color: var(--color-black);
}

.our-mission-mob {
    display: none;
}

.contact-form__header {
    width: 50%;
}

.contact-form {
    padding: 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 0px 10px var(--color-gray);
    border-radius: var(--border-radius);
}

.contact-form p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-form a {
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: var(--border-radius-small);
    box-sizing: border-box;
    background-color: #f0f0f0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.contact-form button {
    align-self: center;
    color: white;
    background-color: var(--color-orange);
}

.contact-form button:hover {
    color: var(--color-orange);
    background-color: white;
}

.advisers-card__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.advisers-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.advisers-card img {
    align-self: center;
    width: 50%;
    border-radius: 100%;
    margin-bottom: 30px;
}

.advisers-card p:nth-child(2) {
    font-weight: 700;
    margin-bottom: 5px;
}

.roadmap-card__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.roadmap-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15%;
    position: relative;
}

.roadmap-card p:first-child {
    font-weight: 700;
    margin-bottom: 5px;
    min-width: 170px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--color-light-orange);
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
    z-index: 1;
}

.circle::before,
.circle::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1.5px;
    background-color: var(--color-light-orange);
    width: 560%;
}

.circle::before {
    right: 100%;
    margin-right: 10px; /* Отступ от круга */
}

.circle::after {
    left: 100%;
    margin-left: 10px; /* Отступ от круга */
}

.roadmap-card:first-child .circle::before {
    width: 450%;
}

.roadmap-card:last-child .circle::after {
    width: 450%;
}


/* .roadmap-card img {
    align-self: center;
    width: 100%;
    border-radius: 100%;
    margin-bottom: 30px;
} */

@media (min-width: 1920px) {
    footer {
        padding: 4% 0 2% 0;
        margin-top: 2%;
    }

    footer::after {
        left: 75px;
    }

}

@media (max-width: 960px) {
    .features__wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .features__card {
        width: 100%;
        padding: 60px 40px;
    }

    .features__card img {
        height: unset;
        width: 3.5rem;
        margin-bottom: 5px;
    }

    .mission {
        flex-direction: column;
    }

    .mission {
        gap: 10px;
    }

    .mission__wrapper h3 {
        display: none;
    }

    .mission-video__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .mission__wrapper {
        order: 1;
    }

    .mission video {
        width: 100%;
    }

    .get-involved__links {
        flex-direction: column;
        gap: 15px;
    }

    .get-involved__links a {
        width: 80%;
        margin: 0 auto;
    }

    .section-paddings {
        padding: min(6%, 4rem) min(4%, 4rem);
    }

    .overview {
        flex-direction: column;
    }

    .overview__wrapper {
        order: 1;
    }

    .overview img {
        width: 100%;
    }

    .donate__qr {
        width: 35%;
    }

    .section-paddings-small {
        padding: min(6%, 4rem) min(4%, 4rem);
    }

    footer {
        flex-direction: column;
    }

    .footer__logo__wrapper {
        margin-top: 30px;
        text-align: center;
    }

    .footer__logo {
        width: 40vw;
    }

    .footer__mail {
        display: block;
        color: var(--color-black);
        margin-bottom: 20px;
    }

    .footer__socials {
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .footer__socials a {
        width: 10%;
    }

    .footer__socials a:first-child {
        display: none;
    }

    .get-involved__socials a {
        width: 10%;
    }

    .button {
        margin: 0 auto;
        text-align: center;
    }

    th,
    td {
        padding: 15px;
    }

    .contact-form {
        width: 100%;
        padding: 8%;
    }

    .advisers-card__wrapper {
        flex-direction: column;
        margin-top: 6%;
        gap: 60px;
    }

    .advisers-card {
        width: 90%;
        margin: 0 auto;
    }

    thead th img {
        width: 60%;
    }

    th {
        padding: 25px;
    }

    .roadmap-card__wrapper {
        flex-direction: column;
        gap: 80px;
        margin-top: 8%;
    }

    .roadmap-card {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .circle {
        margin-bottom: 10px;
        order: -1;
    }

    .circle::before {
        top: calc(-440% + 20px);
        height: calc(130% + 20px);
        width: 1.5px;
        right: -1.5px;
    }

    .circle::after {
        display: none;
    }

    .roadmap-card p:first-child {
        margin-top: 0;
    }

    .roadmap-card:first-child .circle::before,
    .roadmap-card:first-child .circle {
        display: none;
    }

}