@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

:root {
    --color-black: #1d1d1b;
    --color-gray: #b4b4b4;
    --color-orange: #ff5f33;
    --color-light-orange: #ff8133;

    --border-radius: 30px;
    --border-radius-medium: 10px;
    --border-radius-small: 2px;
    --border: 1px solid #b4b4b4;
    --button-padding: 0.45em 1.6em 0.4em 1.6em;

    --font-family-base: 'Montserrat', sans-serif;

    --input-height: 54px;

    --border-radius: 16px;

    --container-width: 1500px;
    --container-padding-x: 4%;

    --transition-duration: 0.3s;

    --font-title-medium: clamp(20px, 1.1vw, 24px);
    --font-title-big: clamp(46px, 3.12vw, 60px);
    --font-title-medium-plus: clamp(22px, 1.8vw, 36px);
}

a {
    text-decoration: none;
}

/* Шапка */
.header.out {
    transform: translateY(-100%);
}

.container {
    margin: 0px auto;
    padding: 0;
    max-width: 1920px;
}

header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 50000;
    transition: all .3s ease;
    background-color: white;
    font-family: var(--font-family-base);
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.header__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    /* padding: 1.5em 4em; */
    padding: 1.6% 2%;
}


.header__menu {
    background-color: white;
    /* padding: 0.7% 2% 0.2% 2%; */
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2000;
    padding-left: 0 !important;
    font-size: clamp(18px, 1vw, 1.5rem);
    letter-spacing: 1px;
    gap: 3vw;
    margin: 0 !important;
    text-align: center;
    font-weight: 700;
}


.header__list-item {
    list-style: none;
    position: relative;
}

.header__list-item a {
    color: var(--color-black);
    text-decoration: none;
}

.header__list-item a:hover {
    color: var(--color-orange);
    transition: var(--transition-duration);
}

.header__list-item:last-child {
    padding: var(--button-padding);
    background-color: var(--color-black);
    aspect-ratio: 1 / 0.3;
    border-radius: var(--border-radius);
    align-content: center;
}

.header__list-item:last-child a {
    color: var(--color-light-orange);
}

.header__list-item:last-child:hover {
    background-color: var(--color-orange);
    transition: var(--transition-duration);
}

.header__list-item:last-child:hover a {
    color: white;
    transition: var(--transition-duration);

}


/* .button__link {
    background-color: #F190B4;
    color: #F190B4;
    border-radius: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
} */

.header__logo {
    width: 10vw;
    max-width: 300px;
    min-width: 150px;
    flex-shrink: 0;
    position: relative;
    z-index: 3000;
    padding-left: 2%;
}

/* .header__logo img {
    width: 100%;
} */

/* Медиа только для шапки  */
@media (max-width: 960px) {

    body.lock {
        overflow: hidden;
    }

    .header__body {
        justify-content: space-between;
        height: 20vw;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .header__lis {
        display: none;
    }

    .header__burger span {
        position: absolute;
        background-color: var(--color-orange);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
        border-radius: 1px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: var(--color-orange);
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0;
        transition: all 0.5s ease 0s;
        z-index: 2000;
    }

    .header__menu.active {
        right: 0;
    }

    .header__list {
        display: block;
        text-align: center;
        font-size: 25px;
        margin-top: 120px !important;
        padding: 0 !important;
    }

    .header__list-item {
        margin: 0px 0px 40px 0px;
        width: unset;
    }

    .header__list-item:last-child {
        width: fit-content;
        margin: 0 auto;
    }

    .header__burger {
        display: block;
        position: absolute;
        top: 41%;
        right: 20px;
        width: 40px;
        height: 20px;
        z-index: 3000;

    }

    .header__logo {
        display: block;
        position: absolute;
        text-align: center;
        z-index: 3000;
        top: 51%;
        left: 26%;
        transform: translate(-50%, -50%);
        width: 45vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: var(--font-family-base);
    /* font-weight: 300; */
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
    background-color: white;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

p {
    margin-block: 0;
}

.home-banner video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.content-width {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.title-medium {
    /* font-size: clamp(20px, 2.08vw, 40px); */
    font-size: var(--font-title-medium);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    flex-wrap: nowrap;
}

.title-big {
    font-size: var(--font-title-big);
    color: var(--color-orange);
    text-transform: uppercase;
    font-weight: 900;
}

.title-medium-plus {
    font-size: var(--font-title-medium-plus);
    color: var(--color-orange);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    flex-wrap: nowrap;
}

p {
    font-size: clamp(16px, 1.2vw, 20px);
    font-weight: 400;
}

.section-paddings {
    padding: min(4%, 3rem) min(4%, 4rem);
}

.section-paddings-small {
    padding: min(2%, 2rem) min(4%, 4rem);
}

.features h3 {
    padding-bottom: 20px;
}

.features__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    /* padding: 0 2%; */
}

.features__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 30%;
    padding: 100px 40px;
    border: var(--border);
    border-radius: var(--border-radius-small);
    box-shadow: 6px 6px 0px var(--color-black);
    position: relative;
}

.features__card img {
    /* position: absolute; */
    /* width: 15%; */
    height: 2.5rem;
    margin-bottom: 10px;
}

/* .features__card:nth-child(2) img {
    height: 3rem;
} */

.two-parts-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.two-parts-section video,
.two-parts-section img {
    width: 55%;
    border-radius: var(--border-radius-small);
    height: fit-content;
}

.mission__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.mission__wrapper p {
    padding-bottom: 0.5rem;
}

.mission__wrapper a {
    margin-top: 10px;
}

.button {
    padding: var(--button-padding);
    /* background-color: var(--color-black); */
    /* aspect-ratio: 1 / 0.3; */
    width: fit-content;
    background-color: var(--color-black);
    color: white;
    border: var(--border);
    border-radius: var(--border-radius-medium);
    align-content: center;
    text-decoration: none;
    font-weight: 700;
    /* box-shadow: 0px 0px 5px var(--color-black); */
}

.button:hover {
    color: var(--color-light-orange);
    transition: var(--transition-duration);
}

/* .button-big {
    padding: 0.45em 1.6em 0.4em 1.6em;
    background-color: var(--color-black);
    aspect-ratio: 1 / 0.3;
    border-radius: var(--border-radius);
    align-content: center;
    color: var(--color-light-orange);
    font-size: clamp(26px, 1.5vw, 30px);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    flex-wrap: nowrap;
}

.button-big:hover {
    background-color: var(--color-orange);
    transition: var(--transition-duration);
    color: white;
} */

.get-involved h3,
.get-involved p,
.get-involved a {
    text-align: center;
}

.get-involved h3 {
    line-height: 1;
}

.get-involved__mail {
    color: var(--color-black);
}

.get-involved__links {
    display: flex;
    justify-content: center;
    gap: 2%;
    /* padding-top: 30px; */
}

.get-involved {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.get-involved__links a {
    width: 32%;
    text-align: center;
}

.overview__wrapper h3 {
    line-height: 1.2;
}

.overview__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.overview {
    padding-top: 0;
    padding-bottom: 0;
}

.overview-features__wrapper div {
    padding: 40px 40px 40px 40px;
    margin-bottom: 3%;
}

.features__card__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.features__card__list__item {
    color: #000;
    letter-spacing: .05em;
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 0) 100%);
    /* border: 1px #e9e9e9; */
    border-radius: 3px;
    padding: 8px;
    line-height: 140%;
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 6% 0 3% 0;
    align-items: center;
    margin-top: 4%;
    position: relative;
}

footer::after {
    content: " ";
    background: var(--color-gray);
    width: 92%;
    height: 1px;
    top: 15px;
    position: absolute;
}

.footer__socials {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
    padding-right: 2%;
}

.footer__socials a {
    width: 4%;
    height: fit-content;
}

.footer__socials a img {
    width: 100%;
}

.footer__socials a:first-child {
    width: unset;
    padding-right: 15px;
    color: var(--color-black);
}

.footer__logo {
    display: flex;
    width: 10vw;
    max-width: 300px;
    min-width: 150px;
    flex-shrink: 0;
    padding-bottom: 10px;
}

table {
    margin: 0 auto;
    width: 100%;
    padding: 0 2% 0 2%;
    /* border-collapse: collapse; */
}

tr {
    border-radius: var(--border-radius);
}

th,
td {
    /* border: var(--border); */
    border-radius: var(--border-radius-small);
    padding: 30px;
    text-align: left;
    font-size: clamp(16px, 1.2vw, 20px);
    font-weight: 400;
}

th {
    background-color: var(--color-light-orange);
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: var(--font-title-medium);
}

thead tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius-small);
}

thead tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius-small);
}

thead tr:first-child th:first-child {
    border-bottom-left-radius: var(--border-radius-small);
}

thead tr:first-child th:last-child {
    border-bottom-right-radius: var(--border-radius-small);
}

tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

.table__wrapper {
    overflow-x: auto;
    /* Добавляем горизонтальную прокрутку */
    max-width: 100%;
    /* Чтобы таблица не выходила за пределы экрана */
}

tbody td:first-child {
    font-weight: 500;
}

.get-involved__socials {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    padding-right: 2%;
}

.get-involved__socials a {
    width: 4%;
    height: fit-content;
}

.donate__qr__wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.donate__qr {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15%;
    gap: 10px;
}

.donate__qr a {
    color: var(--color-black);
}

.our-mission-mob {
    display: none;
}

.footer__mail {
    display: none;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* .contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #45a049;
} */

@media (max-width: 960px) {
    .features__wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .features__card {
        width: 100%;
        padding: 60px 40px;
    }

    .features__card img {
        height: unset;
        width: 3.5rem;
        margin-bottom: 5px;
    }

    .mission {
        flex-direction: column;
    }

    .our-mission-mob {
        display: block;
    }

    .mission__wrapper h3 {
        display: none;
    }

    .mission__wrapper {
        order: 1;
    } 

    .mission video {
        width: 100%;
    }

    .get-involved__links {
        flex-direction: column;
        gap: 15px;
    }

    .get-involved__links a {
        width: 80%;
        margin: 0 auto;
    }

    .section-paddings {
        padding: min(6%, 4rem) min(4%, 4rem);
    }

    .overview {
        flex-direction: column;
    }

    .overview__wrapper {
        order: 1;
    }

    .overview img {
        width: 100%;
    }

    .donate__qr {
        width: 35%;
    }

    .section-paddings-small {
        padding: min(6%, 4rem) min(4%, 4rem);
    }

    footer {
        flex-direction: column;
    }

    .footer__logo__wrapper {
        margin-top: 30px;
        text-align: center;
    }

    .footer__logo {
        width: 40vw;
    }

    .footer__mail {
        display: block;
        color: var(--color-black);
        margin-bottom: 20px;
    }

    .footer__socials {
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .footer__socials a {
        /* margin: 0 auto; */
        width: 10%;
    }

    .footer__socials a:first-child {
        display: none;
    }

    .button {
        /* width: 80%; */
        margin: 0 auto;
        text-align: center;
    }
}